DNS Terminology relies on text in "Ranking Data"

Quoted from feedback on dnsop from Robert Edmunds @edmonds (on 2025-03-06):

> The current version of the DNS Terminology document relies, although not strongly, on text in "Ranking Data" for several of its definitions:

>   - Address records:

>   - Glue records: [...]

I think the Glue records definition can be based on RFC 9471 solely. Maybe address records don't need a reference?
@kfujiwara shall I ask Paul Hoffman on dnsop on his opinion, or do you prefer changing "obsolete" in "update" anyway?


As stated in RFC 9499 "Glue," the definition of "Glue" in RFC 2181 Ranking Data is somewhat ambiguous, including delegated NS records, and appears to specify how "Glue" should be handled in RFC 2181 5.4.1 Ranking Data.

Therefore, the definition of "Glue" in RFC 1034 Section 4.2.1 and RFC 9471 is sufficient, and I believe Ranking Data could be obsolete.

I think it would be better to create a new section in the ranking data draft regarding the impact on existing RFCs, stating that the reference to the definition of "Glue" in RFC 2181 should be removed in the next update of RFC 9499.