How to handle the updates to RFC 2181 in RFC 5452

Quoted from feedback on dnsop from Robert Edmunds @edmonds (on 2025-03-06):

> I disagree with the obsolescence of Section 5.4.1 of RFC 2181 in its entirety. If there are specific problems with 5.4.1 they should be
spelled out and fixes applied that update 5.4.1, as has been done previously.

I agree that we should spell it out, and I think we are already doing that in section "Problem Statement". More explicit problems could be stated there, but I'd rather avoid that and keep the introduction concise. Perhaps we could add those explicit statements in a separate section at the end. One of those more explicit statements could be that "Data from the answer section of a non-authoritative answer, and non-authoritative data from the answer section of authoritative answer" does not have any meaning in the current DNS protocol for example.

> For instance, RFC 5452 updates RFC 2181. Section 5.4.1 of RFC 2181 is explicitly updated by [RFC 5452's Section 9.1 ("Query Matching Rules")](https://www.rfc-editor.org/rfc/rfc5452.html#section-9.1), and, arguably, there is an implicit update to 2181's 5.4.1 via [5452's Section 6 ("Accepting Only In-Domain Records")](https://www.rfc-editor.org/rfc/rfc5452.html#section-6).

> What happens to these parallel updates to 5.4.1 if the entirety of 5.4.1 is obsoleted by a new document? Are those parallel updates added together with the new update in this draft and remain in effect, or do they share fate with the original 5.4.1 text and are themselves obsoleted? (Certainly, the text in 5452 is very important and should not be obsoleted.)

Yes, the text in RFC 5452 is very important and should not be obsoleted. I would prefer to still obsolete Section 5.4.1 of RFC 2181 though, because I fear the text will become overly complicated referring to specific lines from the list in Section 5.4.1 of RFC 2181 and how it should be interpreted differently. I think we can obsolete Section 5.4.1 of RFC 2181 and perhaps copy and/or reference those sections of RFC 5452 to maintain that directive.

@kfujiwara do you agree?

I agree.
RFC 5452 section 9.1 is very important.


I agree. I think it would be better to obsolete Section 5.4.1 of RFC 2181 and update RFC 5452 to maintain the query matching rules.