Think about how to rephrase "*assumes* the shared database model of Section 2.2 of RFC 1035"

Quoted from feedback on dnsop from Robert Edmunds @edmonds (on 2025-03-06):

> I am not sure I agree with the assertion in the Introduction of draft-fujiwara-dnsop-ranking-data-00 that Section 5.4.1 of RFC 2181
("Ranking Data") *assumes* the shared database model of Section 2.2 of RFC 1035 ("Common Configurations"). (I'm assuming this is a reference to the 4th unnumbered ASCII art diagram in that section: "a host that supports all aspects of the domain name system".)

> "Ranking Data" is *consistent with* the shared database model of "Common Configurations" but does not *require* that model of
implementers. I would argue that "Ranking Data" is consistent with all of the diagrammed models in "Common Configurations". For instance, if a resolver lacks support for loading data from a zone file, the top rank "Data from a primary zone file, other than glue data", is simply not applicable to that implementation, since it cannot obtain data from a zone file.

I agree too.  This ticket serves as an reminder for the action point.
