Child-centric resolution needs additional text

Quoted from feedback on dnsop from Robert Edmunds @edmonds (on 2025-03-06):

> There is an implementation choice between "child-centric" and "parent-centric" resolution, i.e. whether the apex NS RRset from a child zone, if obtained, should be used in preference to the delegation NS RRset from a parent zone for the same owner name when resolving. One of the choices is clearly supported from a standards perspective by referring to the ranks in Section 5.4.1 of RFC 2181.

> If Section 5.4.1 of RFC 2181 is obsoleted in its entirety and replaced with the Directives in draft-fujiwara-dnsop-ranking-data-00, it would appear Directive 3 is the most relevant for this question, but I'm not sure if it is detailed enough to clearly support one of or both of these implementation choices. If the "the" were dropped from "during the name resolution" as suggested in (4) above, this Directive would be more supportive of both options.

> I am not stating an opinion on the "child-centric" vs. "parent-centric" issue but this would be one of the things that would ideally be explicitly decided and explained clearly if "Ranking Data" is entirely replaced with new text.

One way to deal with this, is indeed to change "obsolete" to "update", but maybe it is also possible to capture the child-centric resolution in this document. @kfujiwara are you okay if I make an attempt?

There is currently a draft on parent-centric resolution: [draft-sury-dnsop-parent-centric-resolver](https://datatracker.ietf.org/doc/draft-sury-dnsop-parent-centric-resolver/)

Discussing child-centric vs. parent-centric approaches can be divergent, so it's better to write within the scope of what can be applied to both.